

DB_PASSWORD=""

ConnectionStrings__DefaultConnection="Server=localhost,1443;Database=FinTrack;User Id=sa;Password=CAMBIA_ESTO_POR_TU_PASSWORD_EN_DB_PASSWORD;TrustServerCertificate=True;"

# openssl rand -base64 32
Jwt__SecretKey=""